@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&display=swap');

@import '_reset';


$dark-bg: #171718;
$dark-border: #26292D;
$white: #fff;
$accent: #5C62EC;
$white-bg: #e5e5e5;

#root{
    width: 100%;
}

header{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1% 5%;
    align-items: center;
}
.header-nav{
    display: flex;
    position: fixed;
    width: 100%;
    flex-direction: row;
    background: $dark-bg;
    border-bottom: $dark-border 1px solid;
    z-index: 5;
}
body{
   background: $dark-bg;
   font-family: 'DM Sans', sans-serif;
   font-size: 16px;
   max-width: 100vw;
}
.logo{
    color: $white;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.5em;
    transition: all .3s;
    &:hover{
        // border-radius: 50%;
        // background: rgba(255, 255, 255, 0.11);
        color: $accent;
        // box-shadow: inset 0 -2em 3em rgba(123, 127, 233, 0), 0 0 0 2px rgba(38, 41, 45, 0.1),  0.3em 0.3em 1em rgba(154, 157, 231, 0.3);
    }
}

.nav{
        display: flex;
        gap: 40px;
        .menu__item{
            cursor: pointer;
                color: $white;
                text-decoration: none;
                font-weight: 500;
                transition: all .3s;
                &:hover{
                    opacity: .6;
                }
            }
        }


p{
    color: $white;
    text-decoration: none;
}
a{
    text-decoration: none;
}


.main
{
    display: flex;
    height: 100vh;
    min-height: 720px;
    max-width: 100vw;
    width: 100%;
    justify-content: center;
    align-items: center;
    &__wrapper
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        row-gap: 2.5rem;
    }
    &__text{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 2% 0;
        font-weight: 700;
        line-height: 350%;  
        text-align: center;
        letter-spacing: -0.5px;
        span{
            color: $accent;
        }
        :nth-child(2){
            font-size: 2em;
            line-height: 160%;
        }
        :nth-child(3){
            font-size: 1.2em;
            font-weight: 500;
            line-height: 150%;
            padding-top: 2%;
        }
        P{
            font-size: 3.8em;
        }
    }
    &__btn{
        cursor: pointer;
        padding: 2% 3%;
        background: $accent;
        color: $white;
        line-height: 1.5em;
        border-radius: 5px;
        transition: all .3s;
        &:hover{
            opacity:.6;
        }
    }
}

.btn__container{
    display: flex;
    justify-content: center;
    width: 100%;
}

.projects-wrapper{
    padding-top: 4.5rem;
    background: $white-bg;
    text-align: center;
    h1{
        color: $accent;
        font-size: 4rem;
        height: 4rem;
        margin-bottom: 3.5rem; 
    }

}

.white-bg
{
    background: $white-bg;
    max-width: 100vw;
    min-height: 70vh;
    height: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    h2{
        color: $accent;
        font-size: 2.5rem;
        height: 2.5rem;
        margin: 4% 0%;
    }
    h3{
        color: $dark-bg;
        font-size: 2rem;
    }
    p{
        color:#171718;
        font-size: 1rem;
    }
}
.infolist{
max-width: 40%;
gap:1.25rem;
display: flex;
flex-direction: column;
justify-content: flex-start;
margin-bottom: 2.5rem;
}

.card {
    padding: 2% 3%;
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    transition: .3s;
    p{
        color: $dark-bg;
        transition: .3s;
    }
    img{
        justify-content: center;
        width: 410px;
        height: 300px;
        object-fit: cover;
        border-radius: 15px;
        transition: .3s;
    }

a{
    text-decoration: none;
    &:hover{
        p{
            color: $accent;
            transform: scale(1.15) translate(0, 10px);
        }
        img{
            transform: translate(-10px ,-10px) scale(1.03);
            box-shadow: 10px 10px $accent;
        }
    }
}

}
